/* Styles for the notification panel container */
.notification-panel {
  display: flex;
  flex-direction: column;
  border: 1px solid #111111;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  max-width: 100%;
  gap: 10px;
  /* Ensures panel doesn't exceed screen width */
  justify-content: space-between;
}

/* Styles for the notification heading */
.notification-panel h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2em;
}

/* Styles for the notification list */
ul,
li {
  list-style-type: none;
  font-size: larger;
  padding: 10px;
}

/* Styles for individual notifications */
.notification {
  padding: 5px;
  margin-bottom: 5px;
  border-left: 3px solid transparent;
  border-left-color: #af4c4c;
}

/* Styles for different types of notifications */
.notification.events {
  border-left-color: #2196f3;
  /* Blue color for event notifications */
}

.notification.placement {
  border-left-color: #4caf50;
  /* Green color for placement notifications */
}

.notification.quiz {
  border-left-color: #ff9800;
  /* Orange color for quiz notifications */
}

/* Media query for screens smaller than 768px (typical mobile devices) */
@media (max-width: 768px) {
  .notification-panel {
    padding: 5px;
    /* Decrease padding for smaller screens */
  }

  .notification-panel h3 {
    font-size: 1em;
    /* Decrease font size for heading */
  }
}

.notification-type-field .arrow {
  cursor: pointer;
}

.notification-type-field {
  position: relative;
  display: inline-block;
}

.notification-type-field input[type="text"] {
  padding-right: 30px;
}

.notification-type-field .arrow {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}

.options {
  display: inline-block;
}

.option {
  cursor: pointer;
}

.notification-heading {
  color: #526d82;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

select {
  width: auto;
}

.add-button {
  background-color: #526d82;
  /* Changed button color */
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.add-button:hover {
  background-color: #004080;
  /* Darkened button color on hover */
}

br {
  border: 1px solid grey;
}

.previous-events {
  flex: 1;
  max-width: 400px;
}

.dashboard--contents {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}